/*RESET CODE*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {margin:0; padding:0; border:0; font-weight:normal; font-style:normal;font-size:100%; line-height:1; font-family:inherit; text-align:left;}
/*RESET CODE*/

/*GLOBAL STYLES*/
html,body {color:#666; background: #C2C2AF url(images/body_bg.jpg) repeat-x top center; font-family:arial, helvetica, sans-serif; font-size:13px; line-height:200%; height:100%;}
a {color:#367E14;}
a:hover {color:#666;}
.strong {font-weight: bold;}
strong {font-weight: bold; line-height: 200%;}
em {font-style: italic; line-height: 200%;}
.em {font-style: italic;}
sup {font-size: 75%; line-height: 0;}
sub {font-size: 75%; line-height: 0;}
.clear {clear:both; height:0; line-height: 0;}

div, img {behavior: url("js/iepngfix.htc");}

h1 {position:relative; top:0px; left:-28px; margin:0; padding:0; float:left;}
h1 a {display:block; margin:0; padding:0; width:260px; height:120px; text-indent:-9999px; background: url(images/logo.jpg) no-repeat top left; text-decoration:none;}

h2 {font-size:20px; color:#1E1E18; font-weight:bold; padding-bottom: 5px; text-decoration: none;}
h2 a {font-size:20px; color:#1E1E18; font-weight:bold; padding-bottom: 5px; text-decoration: none;}

h3 {font-size:20px; color:#1E1E18; font-weight:bold;}

#wrapper {width: 980px; margin: 0 auto;}

#header {height:370px; background: url(images/header_bg.png) no-repeat bottom;}
*html #header {height:370px; background: url(images/header_bg_ie6.png) no-repeat bottom;}
#header p {position: relative; float: left;font-size: 16px; line-height: 200%; margin: 30px 10px 10px 30px; color: #fff; width: 435px;}
#header a {color: #fff; text-decoration: underline;}

#main_nav {position: relative; width: 700px; list-style-type: none; float: left; margin: 10px 0 0 25px; display: inline;}

#main_nav li {float: left; display: inline; padding:0; margin-right: 35px;}
#main_nav li:hover {color: #fff; background: url(images/main_nav_rt.jpg) no-repeat right;}
#main_nav li.current_page_item, #main_nav li.current_page_parent  {color:#fff; background: url(images/main_nav_rt.jpg) no-repeat right;}

#main_nav a {color: #666; font-size: 18px; line-height: 31px; display: block; font-weight: bold; text-decoration: none; padding: 0 15px;}
#main_nav a:hover {color:#fff; background: url(images/main_nav_lft.jpg) no-repeat left;}
#main_nav .current_page_item a, #main_nav .current_page_parent a {color:#fff; background: url(images/main_nav_lft.jpg) no-repeat left;}

#sidebar li {width: 188px; height: 18px;float: right; margin: 10px 30px 0 0; background: url(images/searchbox_bg.jpg) no-repeat top left; padding: 7px; list-style-type: none;}
#s {width: 130px; font-size: 9px; float: left;}
#searchsubmit {float:right; margin-left: 5px; width: 47px; height: 17px; background:url(images/search_btn.jpg) no-repeat top left; text-indent: -9999px; border: 0;line-height: 1px;}
.hidden {display: none;}
#rss a {float:right; width:60px; height: 61px; margin: -8px 60px 0 0; background: url(images/rss_icon.png) no-repeat top left; overflow:hidden;}
#rss a:hover {background: url(images/rss_icon.png) no-repeat top right;}

#boy_dino {
	float: right;
	margin: 51px 30px 0 0;
	}

#content {
	width: 980px;
	background: url(images/content_bg.jpg) no-repeat top;
	}
#main_content {
	width: 910px;
	background: #F4F1EA url(images/main_content_bg.jpg) no-repeat bottom;
	padding: 0 30px 50px;
	margin: 0 5px 5px;
	}
#page_content {
	width: 530px;
	float: left;
	padding-bottom: 10px;
	margin-bottom: 20px;
	}
#page_content p {
	line-height: 200%;
	padding-top: 20px;
	}
#featured_work {
	height: 320px;
	margin: 0 0 10px;
	background: url(images/featured_work_bg.jpg) no-repeat bottom;
	}
#featured_hero {
	width:510px;
	height:230px;
	float: left;
	padding: 14px;
	background:url(images/featured_hero_bg.jpg);
	}
#featured_thumbs {
	float: right;
	}
#featured_thumbs ul {
	list-style-type:none;
	float:left;
	margin-top: 28px;
	width: 350px;
	}
#featured_thumbs li {display:inline;}
#featured_thumbs li a {
	float: left;
	width: 75px;
	height: 75px;
	background: url(images/featured_thumb_bg_over.jpg) no-repeat top;
	padding: 9px;
	margin: 0 0 23px 23px;
	}
/*#featured_thumbs li a:hover {
	background: url(images/featured_thumb_bg_over.jpg) no-repeat top;
	}*/
#featured_thumbs .first {
	margin-left: 0;
	}
#from_blog a {
	position: absolute;
	display: block;
	width: 134px;
	height: 111px;
	float: left;
	padding: 30px 30px 0 0;
	margin: -60px 300px 0 -60px;
	background: url(images/from_the_blog.png) no-repeat top left;
	}
.blog_post {
	width: 530px;
	float: left;
	border: 1px dotted #ccc;
	padding: 20px;
	margin-bottom: 20px;
	background: #fff;
	}
.blog_post img {
	margin: 10px 0;
	}
.date {
	font-size: 10px;
	font-weight: bold;
	padding: 0;
	text-decoration: none;
	margin-bottom: 20px;
	}
.blog_post p {
	line-height: 200%;
	padding-top: 20px;
	}
#new_old {position:relative; float: left; padding: 0; margin:15px 0 0 15px; width: 970px; list-style-type: none;  display: inline;}
#new_old li {float: left; margin: 0;}
#new_old li a {display: block; text-align: center; vertical-align: middle; padding: 0 40px 0 0; line-height: 30px; color: #666; font-size: 14px; font-weight: bold; text-decoration: none;}
#new_old li a:hover {color: #690;}

#info_board {
	vertical-align: top;
	float:right;
	width: 255px;
	padding: 30px;
	margin:  0;
	background: url(images/info_board_bg.jpg) no-repeat top;
	}
*html #info_board {
	vertical-align: top;
	float:right;
	width: 255px;
	padding: 20px;
	margin: 0;
	background: url(images/info_board_bg.jpg) no-repeat top;
	}
#info_board p {
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	}
#info_board ul {
	list-style-type: none;
	float: left;
	margin: 6px;
	}
#info_board li {
	float: left;
	padding-right: 16px;
	}
#info_board .last {padding-right: 0;}
#social { display: block;}
#tools {margin-top: 18px; display: block;}
#tools ul {margin-left: 10px;}
#tools li {padding-right: 7px;}
#flickr {
	margin: 50px 0 0 -17px;
	width: 295px;
	min-height:190px;
	padding: 45px 0 0;
	background: url(images/flickr_bg.jpg) no-repeat top;
	}
#flickr ul {
	width: 265px;
	padding-left: 22px;
	}
#flickr li {
	padding: 3px;
	}
#comment {
	width: 400px;
	}
#footer {
	height: 30px;
	width: 920px;
	padding: 10px 30px;
	background: url(images/footer_bg.jpg) no-repeat top;
	}
#footer p {
	color: #919087;
	font-size: 11px;
	}
.copyright {
	float: left;
	}
.valid {
	float: right;
	}